# Node dependencies
node_modules/
jspm_packages/

# Expo / React Native
.expo/
.expo-shared/
dist/
web-build/
*.tsbuildinfo
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debugging
npm-debug.*
yarn-debug.*
yarn-error.*
*.log
logs
.report*
*.pid
*.seed
*.pid.lock

# macOS
.DS_Store
*.pem

# Local environment files
.env
.env.*
.env*.local
!.env.example

# Build tools
.cache/
.parcel-cache/
.nuxt
dist/
.next
out
.cache
.nuxt
.temp
.serverless/
build/Release
bower_components
.dynamodb/
firebase/

# TypeScript
*.tsbuildinfo

# Lint & Testing
.nyc_output
coverage
*.lcov
.eslintcache
.stylelintcache
.vscode-test

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn-integrity
.pnp.*
.lock-wscript

# Misc
.vscode/
.node_repl_history
.tern-port
.fusebox/
.docusaurus
.svelte-kit/
.vitepress/
**/.vitepress/dist
**/.vitepress/cache

# Custom folders
app-example